html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.banner {
  background-image: url(/img/banner.jpg);
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fba40f;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #333;
  border-bottom: solid 3px #fba40f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding-left: 15px;

  .headerLinks {
    display: flex;
    width: 100px;
    justify-content: space-between;
    padding-right: 30px;

    a {
      color: white;
      text-decoration: none;
    }

    &:hover {
      color: orange;
    }

    button {
      color: white;
      font-size: 2.8rem;
      background-color: #333;
      border: none;
    }
  }
}

.brand a {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

footer {
  height: 200px;
  background-color: #333;
  border-top: solid 3px #fba40f;
  border-bottom: solid 3px #fba40f;

  p {
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 80px;
    align-items: center;

    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
  }
}

/* Home Screen */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: bold;
  
  .productName {
   
    a{
      text-decoration: none;
      color: black;
    }
  }
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  img {
    width: 300px;
    height: 400px;
  }
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
}

.productImage {
  max-width: 3rem;
  max-height: 3rem;
}

.productRatings {
  margin-bottom: 1rem;
}

/* sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
  font-size: 2rem;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarCloseButton {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 4rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 2.5rem;
  top: 1.5rem;
  border: none;
}

/* product details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.back-to-result {
  a {
    font-size: 2rem;
    text-decoration: none;
    color: black;

    &:hover {
      color: blue;
    }
  }
}

.details-image {
  flex: 2 1 60rem;

  img {
    width: 450px;
    margin: 2rem;
  }
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
}

.details-action ul, .details-info ul {
  list-style-type: none;
  padding: 0;
}

.details-action li, .details-info li {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.back-to-result {
  padding: 1rem;
}

.details-action {
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;

  ul li:last-child {
    display: flex;
    flex-direction: column;
  }

  .button {
    padding: 1rem;
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #fba40f;
    color: white;
    font-size: 1.75rem;

    &:hover {
      border: .1rem #404040 solid;
    }
  }
}

/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
  font-size: 1.5rem;

  h3 {
    font-size: 2rem;
  }
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
  

  li {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: .1rem #808080 solid;
  }

  li:first-child {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: .1rem #808080 solid;
  }

  img {
    width: 20rem;
    margin-right: 1rem;
  }
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
  a {
    color: #333;
    text-decoration: none;
  }
}

.cart-qty {
  display: flex;
  margin: 1rem;

}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.cart-action {
  flex:1 1 20rem;
  background-color: #f8f8f8;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;

  .button-primary {
    padding: 1rem;
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #fba40f;
    color: white;
    font-size: 1.75rem;
    width: 100%;

    &:hover {
      border: .1rem #404040 solid;
    }
  }
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: .1rem #c0c0c0 solid ;
  border-radius: .5rem;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;

    button {
      padding: 1rem;
      border: .1rem #c0c0c0 solid;
      border-radius: .5rem;
      background-color: #fba40f;
      color: white;

      &:hover {
        border: .1rem #404040 solid;
      }
    }
  }

  .button {
    padding: 1rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    color: blue;
    background-color: #f0f0f0;

    &:hover {
      border: .1rem #404040 solid;
    }
  }
}

input {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  margin-top: 1rem;
}

/* Products screen */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h3 {
    font-size: 2rem;
  }

  button {
    padding: 1rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    background-color: #fba40f;
    color: white;

    &:hover {
      border: .1rem #404040 solid;
    }
  }
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
  font-size: 1.5rem;

  th {
    text-align: left;
    font-size: 1.5rem;
  }

  tbody>tr:nth-child(odd){
    background-color: #f0f0f0;
  }
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
  font-size: 1.5rem;
}

.checkout-steps > div {
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
  margin-top: 1rem;
}

.checkout-steps > div.active {
  border-top: .3rem #fba40f solid;
  color: #fba40f;
}

.paypal {
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    width: 32rem;
  }
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding:  1rem;
  justify-content: space-between;
  font-size: 1.5rem;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;

  button {
    padding: 1rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    background-color: #fba40f;
    color: white;

    &:hover {
      border: .1rem #404040 solid;
    }
  }
}

.placeorder-info > div {
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child {
  margin-top: 0;
}

.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}

.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}

.placeorder-actions-payments > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;

  .profile-info {
    flex: 1 1 30rem;
  }

  .profile-orders {
    flex: 3 1 60rem;
  }
}

/* Admin */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #333;
  margin: 0;
  margin-top: 0.4rem;
  
  li {
    padding: 1rem;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  padding: 0.3rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border: .1rem #808080 solid;
  border-radius: .3rem;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #f0f0f0;

  &:hover {
    border: .1rem #404040 solid;
  }
}

/* Filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 50rem;
  justify-content: space-between;
  align-items: center;

  input, button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: .1rem #c0c0c0 solid;
    font-size: 1.6rem;
  }

  select, li {
    font-size: 1.6rem;

  }
}

.categories {
  padding: 1rem;
  list-style-type: none;
  width: 100%;
  
  li{
    margin: 1rem;
    padding: 1rem;
  }
}

.categories a {
  display: flex;
  text-decoration: none;
  color: #333;
}

.categories li:hover {
  background-color: #fba40f;
  color: white;
}

